main {
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerContainer {
    width: 100%;
    max-width: 560px;
    height: 120px;
    padding: 1rem;
    margin-top: 2rem;
    border: solid 2px var(--color-border-header);
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    display: block;
    max-height: 90%;
}

.btnAndScoreContainer {
    width: 100px;
    height: 100%;
    background-color: #fff;
    border-radius: 0.25rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scoreTitle {
    color: var(--color-text-score);
    letter-spacing: 2px;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.scoreValue {
    font-size: 3rem;
    color: var(--color-text-dark);    
    letter-spacing: 2px;
    line-height: 3rem;
}

.mainContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnRules {
    width: 100px;
    padding: 0.5rem 0;
    margin-bottom: 4rem;
    border: solid 1px white;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    transition-duration: 0.2s;
}

.btnRules:hover {
    background-color: #0004;
}

@media (min-width: 920px) {
    .btnRules {
        align-self: flex-end;
    }
}