body {
    background-color: black;
    background-image: var(--gradient-background-main);
}

.popup-animation {
    animation-name: popUp;
    animation-duration: 0.2s;
    overflow: hidden;
}

@keyframes popUp {
    from {
        scale: 1.0;
        opacity: 0.0;
    }

    25% {
        opacity: 1.0;
    }

    50% {
        scale: 1.1;
    }

    to {
        scale: 1.0;
    }
}