@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* === Typography === */
  --font-family-base: "Barlow Semi Condensed", sans-serif;

  /* === Text and layout === */
  --color-text-dark: hsl(229, 25%, 31%);
  --color-text-score: hsl(229, 64%, 46%);
  --color-border-header: hsl(246, 11%, 37%);

  /* === Background === */
  --gradient-background-main: linear-gradient(hsl(214, 47%, 23%), hsl(237, 48%, 15%));

  /* === Gold === */
  --color-gold-500: hsl(39, 89%, 49%);
  --color-gold-600: hsl(28, 76%, 44%);

  /* === Blue === */
  --color-blue-500: hsl(230, 89%, 62%);
  --color-blue-700: hsl(229, 64%, 46%);

  /* === Red === */
  --color-red-600: hsl(349, 71%, 52%);
  --color-red-800: hsl(347, 75%, 35%);

  /* === Purple === */
  --color-purple-600: hsl(261, 73%, 60%);
  --color-purple-700: hsl(261, 51%, 44%);

  /* === Light Blue === */
  --color-light-blue-400: hsl(189, 59%, 53%);
  --color-light-blue-500: hsl(194, 58%, 42%);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button > img {
  display: block;
}
